button,
.button {
  transition: all 0.2s ease-in;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  border-color: $border-primary;
  font-weight: 600;
  box-sizing: border-box;

  &:disabled {
    cursor: not-allowed;
    filter: brightness(50%);

    &:hover {
      filter: brightness(50%);
      box-shadow: none;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.123);
    filter: brightness(115%);
    box-shadow: inset 0 0 5px rgba(199, 199, 199, 0.774);
  }

  &.submit {
    color: $text-primary;
    background-color: $button-primary;
  }

  &.secondary-button {
    color: $text-primary;
    background-color: $button-secondary;
  }

  &.destructive {
    color: $text-primary;
    background-color: $button-destructive;
  }

  &.neutral-button {
    color: $text-primary;
    background-color: $button-nuetral;
  }

  &.wide {
    padding: 8px 16px;
  }

  &.fluffy {
    padding: 16px;
  }

  &.icon {
    background: transparent;
    border: none;
    color: $text-primary;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: none;

    .material-icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.123);
      color: $text-accent;
      filter: contrast(200%);
      box-shadow: none;
    }

    &:disabled {
      cursor: not-allowed;
      color: $text-primary;
      filter: brightness(75%);

      &:hover {
        background-color: transparent;
      }
    }

    &.close-button {
      border: 1px solid $border-primary;
      background-color: $button-destructive;
      color: $text-primary;

      &:hover {
        filter: brightness(130%);
        background-color: $button-destructive;
      }
    }
  }
}
