@import './colors.scss';

body {
  background-color: $primary;
  font-family: Roboto;
  margin: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
}

#nav {
  width: 100%;

  a {
    font-weight: bold;
    color: $text-primary;
    text-decoration: none;

    &.router-link-exact-active {
      color: $text-accent;
    }
  }
}

a {
  font-weight: 700;
  color: $text-accent;
  text-decoration: none;
}

a {
  transition: all 0.3s ease-in-out;
  position: relative;
  &:before,
  &:after {
    left: 0;
    content: '';
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 2px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: $green-bright;
  }

  &.router-link-exact-active {
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

input {
  border: 2px solid $border-primary;
  border-radius: 8px;
  padding: 2px 4px;
  font-size: 16px;
  background-color: $tertiary;
  color: $text-primary;
  font-weight: 600;
  font-family: 'Roboto Mono';

  &:focus-within {
    border: solid 2px $border-highlight;
  }

  &:disabled {
    color: $text-tertiary;
    background-color: $primary;
  }

  &::placeholder {
    color: $text-placeholder;
    font-weight: 600;
  }
}

html {
  overflow-x: hidden;
}

.config-wrapper {
  min-width: 600px;
}

.form-footer {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

caption {
  text-align: left;
  border-left: 5px solid gray;
  background-color: $accent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
}

.options-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .option {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
    height: 26px;
  }
}

.option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
  height: 26px;
}

.checkbox-label {
  text-align: left;
}

.checkbox-tooltip-holder {
  display: flex;
  input {
    margin-right: 6px;
  }
}
